*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

.container{
    width: 1280px;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    list-style: none;
    gap:50px;
    padding-right: 50px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    padding-left: 50px;
}

.body1{
    height: 624px;
}

.content{
    display: flex;
    padding: 100px;
}

.words{
    height: 557px;
    height: 317px;
    margin-top: 60px;
}

.picture{
    width: 495px;
    height: 424px;
}

.words h1{
    font-size: 80px;
    margin-top: 40px;
}

.brand{
    font-size: 20px;
    font-weight: 500;
}

.positive{
    margin-top: 40px;
    font-size: 17px;
}

.body2{
    height: 670px;
}

.grid{
    padding-top: 180px;
    padding-bottom:180px;
    padding-left: 140px;
    padding-right:140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col{
    text-align: center;
    width: 249.9px;
    height: 328px;
}

.col h3{
    font-size: 27px;
    font-weight: 600;
    margin-top: 60px;
}

.col p{
   margin-top: 42px;
   line-height: 27px;
}

.body3{
    height: 1016px;
    padding-left: 100px;
    padding-right: 100px;
}

.body3 h3{
    text-align: center;
    padding-top: 42px;
    font-size: 32px;
    font-weight: 600;
}

.icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 42px;
}

.icon2{
    padding-left: 1.2vh;
}
.icon3{
    padding-left: 3vh;
}
.icon4{
    margin-top: 60px;
    margin-left: 0.4vh;
    
}
.icon5{
    margin-top: 60px;
    padding-left: 1.2vh;
}
.icon6{
    margin-top: 60px;
    padding-left: 3.3vh;
}

.body3 h4{
    margin-top: 15px;
    padding-left: 5px;
    font-size: 20px;
}

.body3 p{
    margin-top: 15px;
    padding-left: 5px;
    font-size: 17px;
}

.footer{
    height: 670px;
}

.infor{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.intro{
    width: 360px;
    height: 320px;
}

.intro h3{
    font-size: 32px;
    font-weight: 600;
}
.intro p{
    margin-top: 60px;
    font-size: 17px;
    line-height: 27px;
}

.intro img{
    margin-top: 60px;
}

input, textarea{
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 675px){

    .content{
        display: flex;
        flex-direction: column;
    }
    
    
}
